.servicesItemsContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;    
    padding: 20% 3% 0;
}
.serviceItemName {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 2% 0 0 0;
}
.serviceItemName p {
    margin: 0;
}
.servicesContainer{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.sprayServices {
    width: 110px;
    position: absolute;
    left: 48%;
    top: 7%;
}
.serviceItemTitle {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding-left: 2%;
}
.seeMore {
    padding-right:4% ;
    font-weight: 600;
}

.hideService {
    display: none;
}
.imageServices {
    width: 100%;
}