.servicesContainer{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    margin-top: 10vh;
}
.servicesItemsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;    
    padding: 5% 3% 0;
    height: 490px;
}
.serviceItemName {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 2% 0 0 0;
    position: relative;
    top: 30px;
}
.serviceItemName p {
    margin: 0;
}

.sprayServices {
    width: 110px;
    position: absolute;
    left: 48%;
    top: 9%;
}
.serviceItemTitle {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding-left: 2%;
}
.seeMore {
    padding-right:4% ;
    font-weight: 600;
}

.hideService {
    display: none;
}
.imageServices {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.servicesText {
    text-align: justify;
    font-size: 8px;
    font-size: 7.1px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    line-height: 1.2;
    letter-spacing: 1.08px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 41px;
    margin: 0;
    padding: 0 2% 2%;
    background: linear-gradient(to top, #131313, transparent);
}
.littleServicesText {
    bottom: 32px;
}
.smallerServicesText {
    bottom: 33px;
}
.bigServicesText {
    bottom: 49px;
}
.biggerLetter {
    font-size: 7.3px;
}
.biggerServicesText {
    bottom: 50px;
}
.serviceOpenContainer{
    height: 180px;
}
