.servicesContainer{
    display: flex;
    flex-direction: column;
}
.servicesFirstContainer {
    background-image: url('/public/sprayServices.jpg');
    background-size: cover;
    min-height: 95vh;
    padding-top: 10vh;
}
.servicesItemsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;    
    padding: 5% 3% 15%;
    /* height: 490px; */
}
.serviceItemName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    position: relative;
    height: 32px;
    top: 32px;
}
.serviceItemName p {
    margin: 0;
}

.sprayServices {
    width: 110px;
    position: absolute;
    left: 48%;
    top: 9%;
}
.serviceItemTitle {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding-left: 3%;
}
.seeMore {
    padding-right:6% ;
    font-weight: 600;
}
.seeMore:hover {
    cursor: pointer;
}

.hideService {
    display: none;
}
.imageServices {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.servicesText {
    text-align: justify;
    font-size: 8px;
    font-size: 7.1px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    line-height: 1.2;
    letter-spacing: 1.08px;
    position: relative;
    transform: translateY(-50%);
    width: 100%;
    bottom: 20px;
    margin: 0;
    padding: 0 2% 2%;
    background: linear-gradient(to top, #131313, transparent);
    
    height: 35px;
    bottom: 15px;
}
.littleServicesText {
    bottom: 16px;
}
.bigServicesText {
    bottom: 21px;
    height: 49px;
}
.biggerLetter {
    font-size: 7.3px;
}
.serviceOpenContainer{
    height: 180px;
}
.inputContactServices:hover {
    background: rgba(218, 166, 218);
}
.inputContactServices.color-activo {
    background: rgba(218, 166, 218);
}
.formButtonServices:hover {
    color: rgba(218, 166, 218);
}
.formButtonServices{
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.06em;
    padding: 3% 5% 2% 0;
    margin: 0;
    text-align: right;
}

.servicesFormContainer {
    margin: 0 3%;
}
.servicesFormContainer div {
    background: rgba(218, 166, 218, 0.80);
}
.servicesFormContainer input {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.06em;
    letter-spacing: 1px;
    padding: 5% 0 1% 3%;
}

.inputContactServices.input-error {
    background: #ED0707B2;
}
.inputContactServices.color-activo {
    background: rgba(218, 166, 218);
}
.formButtonServices {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.06em;
    padding: 3% 5% 2% 0;
    margin: 0;
    text-align: right;
}

.servicesFormContainer {
    margin: 0 3%;
}
.servicesFormContainer div {
    background: rgba(218, 166, 218, 0.80);
}
.servicesFormContainer input {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.06em;
    padding: 5% 0 1% 3%;
}


#enquireHere {
    cursor: pointer;
    font-weight: 800;
    color: rgba(218, 166, 218, 0.80);
}
#spraySendServices{
    display: none;
}

.formButtonServices:hover ~#spraySendServices {
    display: block;
}
#spraySendServices {
    width: 50px;
    /* height: 20px; */
    position: absolute;
    transform: translateY(-50%);
    left: 83%;
}
@media(min-width:700px){
    .servicesContainer {
        margin-top: 156px;
    }
    .seeMore {
        font-size: 34.833px;
    }
    .serviceItemTitle{
        font-size: 21.222px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.393px;
        text-transform: uppercase;
    }
    .imageServices {
        height: 466.613px;
    }
    
    .serviceOpenContainer{
        height: 480px;
        margin-bottom: -75px;
    }
    .servicesText {
        font-size: 13.062px;
        margin: -1% 0;
        height: 60px;
        bottom: 22px;
        line-height: 1.3;
    }
    .bigServicesText {
        height: 80px;
        bottom: 30px;
    }
    .serviceItemName {
        top: 60px;
        height: 60px;
    }
    .servicesFormContainer input, .formButtonServices {
        font-size: 19.5px;
        z-index: 5;
    }
    
    #spraySendServices {
        width: 80px;
        left: 84%;

    }
}

@media (min-width: 1000px) {
    
    #spraySendServices {
        left: 86%;

    }
}
@media (min-width: 1200px) {
    
    #spraySendServices {
        left: 91%;

    }
    .servicesFirstContainer {
        background-image: url('/public/ServicesBackgroundDesktop.png');
    }
    .servicesFormContainer input, .formButtonServices{
        font-size: 16px;
    }
    .servicesContainer {
        flex-direction: row-reverse;
        margin-top: 130px;
        
    }
    .servicesItemsContainer{
        padding: 0 1% 15% 2%;
    }
    .serviceItemName {
        padding: 0;
    }    
    .serviceItemName {
        top: 50px;
        height: 50px;
    }
    .imageServices {
        height: 400px;
    } 
    .serviceOpenContainer{
        height: 400px;
        margin-bottom: -50px;
    }
    .servicesText{
        font-size: 11px;
        font-weight: 400;
    }
    .servicesFormContainer {
        width: 47.4%;
        margin-left: 51%;
        margin-top: -210px;
    }
}

@media(min-width:1400px){
    #spraySendServices {
        left: 92.5%;
    }
    .servicesText{
        font-size: 13px;
    }
    .servicesFormContainer input{
        font-size: 19px;
        padding: 3.5% 0 0.2% 3%;
    }
    .formButtonServices {

        padding: 2% 3% 0.5% 0;
        font-size: 19px;
    }
    .servicesFormContainer {
        margin-top: -200px;
    }
}
@media(min-width:1700px){
    .serviceItemTitle {
        font-size: 32px;
    }
    .servicesFormContainer input, .formButtonServices{
        font-size: 24px;
    }
    
    .servicesFormContainer {
        margin-top: -280px;
        width: 48%;
        margin-left: 50.5%;
    }
    .servicesText{
        font-size: 17px;
        font-weight: 500;
        height: 86px;
        bottom: 32px;
    }
    .bigServicesText {
        height: 108px;
        bottom: 43px;
    }
    .servicesContainer {
        margin-top: 152px;
    }
    .serviceItemName{
        padding: 1% 0;
        border-bottom: 2px solid white;
    }
    .serviceItemName {
        top: 70px;
        height: 70px;
    }
    .imageServices {
        height: 577px;
    }
    .serviceOpenContainer {
        height: 570px;
    }
    #spraySendServices {
        left: 93%;
        width: 90px;
    }
}