.headerProjects {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    position: relative;
}
.linksEvents {
    color: #FFCC00;
    border-bottom: 1px solid #FFCC00;
}
.selectedProject{
    color: black;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.1em;
    z-index: 10;
}
.sprayEvents {
    position: absolute;
    width: 240px;
    height: 100px;
    left: 14.5%;
    top: 7px;
} 