.videoTvContainer{
    height: 97vh;
    object-fit: cover;
    width: 100%; 
    overflow: hidden;
}
.tvHero {
    height: 97vh;
    object-fit: cover;
    position: relative;
}
.xSprayTv {
    width: 80px;
    top: 75px;
    z-index: 5;
    position: absolute;
}
.xTvDetail {
    font-family: 'oswald';
    position: absolute;
    top: 103px;
    left: 38px;
    z-index: 5;
    margin: 0;
    color: #EEEFF3;
    font-size: 14px;
    font-weight: 600;
}
.stackContainerTv {
    width: 60vw;
}
.ytp-more-videos-view {
    display: none !important;
}
.html5-video-player .video-stream, .html5-main-video, video {
    
    width: unset !important;
    height: 100vh !important;
    left: 0px;
    top: 0;
}
.html5-video-player .video-click-tracking, .html5-video-player .video-stream, .videoTvContainer {
    display: block;
    width: unset !important;
    height: 100vh !important;
    top: 0 !important;
}
.ytp-fit-cover-video .html5-main-video {
    width: unset !important;
    height: 100vh !important;
    top: 0 !important;
}

.ratio::before {
    display: none;
    padding-top: var(--bs-aspect-ratio);
    content: "";
    
    width: 300%;
    height: 100vh !important;
}
.ratio>*{
    padding-top: 0;
    width: 500%;
    height: 100vh !important;
}
.html5-video-container {
    right: 50% !important;

}
.ratio {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
}
@media(min-width:700px){
    .xSprayTv {
        width: 151px;
        top: 156px;
        left: 5px;
    }
    .xTvDetail{
        font-size: 28px;
        font-weight: 600;
        top: 206px;
        left: 77px;
    }
}
@media(min-width:1200px){
    .xSprayTv {
        left: unset;
        right: 5px;
    }
    .xTvDetail{
        left: unset;
        right: 68px;
    }
}