.linksProjects {
    font-size: 10px;
    line-height: normal;
    height: 20px;
    padding-top: 5px !important;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.headerProjects {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 40px 0 20px;
    align-items: flex-end;
}
.linksTv {
    color: var(--color-lila);
    border-bottom: 1px solid var(--color-lila);
}
.linksTv:hover {
    background-color: var(--color-lila);
}
.sprayTv {
    position: absolute;
    width: 120px;
    left: 49%;
    transform: translateX(-50%);
    top: 29px;
} 

.selectedProject{
    color: black;
    font-size: 10px;
    letter-spacing: 0.1em;
    z-index: 10;
    margin: 0;
    font-weight: 400;
}
@media(min-width:700px){
    .linksProjects, .selectedProject {
        font-size: 18.48px;
        font-weight: 400;
        height: 25px;
        padding-top: unset !important;
    }
    .headerProjects{
        padding: 40px 0 40px;
    }

    .sprayTv{
        width: 219.72px;
        height: 105.99px;
        top: 10px;
    }
    
}