.linksProjects {
    font-size: 9px;
    line-height: normal;
    height: 20px;
    padding-top: 5px !important;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.headerProjects {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 40px 0 20px;
    align-items: flex-end;
}
.linksTv {
    color: var(--color-lila);
    border-bottom: 1px solid var(--color-lila);
}
.linksTv:hover {
    background-color: var(--color-lila);
}
.sprayTv {
    position: absolute;
    width: 120px;
    left: 49%;
    transform: translateX(-50%);
    top: 29px;
} 

.projectsLeftLink {
    padding: 0 5px 0 2.5vw;
}

.projectsRigthLink {
    padding: 0 2.5vw 0 5px;
}
.selectedProject{
    color: black;
    font-size: 9px;
    letter-spacing: 0.1em;
    z-index: 10;
    margin: 0;
    font-weight: 400;
}
@media(min-width:700px){
    .linksProjects, .selectedProject {
        font-size: 18.48px;
        font-weight: 400;
        height: 25px;
        height: 30px;
        padding-top: unset !important;
    }
    .headerProjects{
        padding: 40px 0 40px;
    }

    .sprayTv{
        width: 219.72px;
        height: 105.99px;
        top: 10px;
    }
    
}

@media(min-width:1200px){
    .linksProjects, .selectedProject {
        font-weight: 400;
        font-size: 17px;
        height: 45px;
        padding-top: 20px !important;
    }
    .projectsRigthLink, .projectsLeftLink {
        padding: 3% 5%;
    }
    .headerProjects{
        padding: 40px 0 40px;
    }
    .headerProjectsEvents .linksProjects, .headerProjectsEvents .selectedProject{
        height: 55px;
    }
    .headerProjectsEvents .projectsRigthLink, .headerProjectsEvents .projectsLeftLink {
        padding: 2%;
    }
    .sprayTv{
        width: 284px;
        height: 137px;
        top: 20px;
        left: 47%;
    }
    .tvAndFilmsArrowContainer {
        top: 77.5vh !important;
    }
    
}
@media(min-width:1400px){
    
    .linksProjects, .selectedProject {
        font-size: 18px;
        height: 50px;
    }
    .spatialContainer {
        margin-top: 202px;
    }
    .spraySpatial{
        width: 440px;
    }
    .projectsLeftLink,
    .projectsRigthLink{
        padding: 0 1.5vw 10px 1.5vw;
    }
    
}
@media(min-width:1700px){
    
    .linksProjects, .selectedProject {
        font-size: 20px;
        height: 55px;
    }
    .spatialContainer {
        margin-top: 202px;
    }
    .projectsRigthLink, .projectsLeftLink {
        padding: 2%;
    }
    .sprayTv{
        left: 48%;
    }
}