.xSprayEvent {
    width: 90px;
    top: 75px;
    z-index: 5;
    position: absolute;
}
.xEventDetail {
    font-family: 'oswald';
    position: absolute;
    top: 126px;
    left: 42px;
    z-index: 5;
    margin: 0;
    color: #EEEFF3;
    font-size: 14px;
    font-weight: 600;
}
.spatialDetailImageWarner {
    width: 100%;
    object-fit: cover;
    margin: 1% 0;
    height: 200px;
}

.colorSpaceEvents {
    font-size: 10px;
    padding: 8% 5vw 0;
    background-color: var(--color-orange);    
    color: #131313;
}
.separatorEvents{
    border-bottom: #131313 1px solid;
    margin: 6% 0;
}

.stackContainerEvents{
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
    text-align: center;
    justify-content: space-between;
    bottom: 100px;
    font-weight: 500;
} 
.stackContainerEventsSmaller{
    width: 70vw;
}
.stackContainerEventsSmall{
    width: 80vw;
}
.stackContainerEventsSmall2{
    width: 85vw;
}
.stackItemEvents {
    width: 19%;
    height: 20px;
}
.stackItemEventsLarge {
    width: 29%;
    height: 20px;
}

.stackItemEvents9 {
    width: 9%;
    height: 20px;
}
.stackItemEvents11 {
    width: 11%;
    height: 20px;
}
.stackItemEvents16 {
    width: 16%;
    height: 20px;
}
.stackItemEventsLarger {
    width: 21%;
    height: 20px;
}
.stackItemEventsLarger2 {
    width: 25%;
    height: 20px;
}
.stackItemEventsSmall2 {
    width: 14%;
    height: 20px;
}
.circleImg16 {
    height: 16px;
}
.bigCircleItemEvents .stackText{
    margin-top: -7px;
}
.bigCircleItemEvents .stackCircleImgBig {
    height: 26px;
    width: 80%;
    margin-top: 5px;
}
.eventsDetailImagesText {
    text-transform: uppercase;
    color: var(--color-orange);
    font-family: 'Oswald';
    font-size: 12px;
    font-weight: 600;
    position: relative;
    padding: 0 5vw;
    margin: 0;
    position: absolute;
    transform: translateY(100%);
    z-index: 2;
}
.threeImages {
    transform: translateY(30%);
    padding: 0 3.5vw;
}
.objectFitUnset {
    object-fit: unset !important;
}
.sezaneImages{
    object-position: bottom;
    width: 49%;
}

.eventDetailImagesBoxSezane {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.eventPlacesDetailImages {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.eventPlacesDetailImages img{
    width: 49.5%;
    object-fit: cover;
}
.eltonDetailImage {
    height: 135px;
    width: 100%;
    object-fit: cover;
    object-position: 0 -50px;
}
.eltonDetailImagesBox {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.eltonDetailImage1 {
    width: 27.5%;
    height: 150px;
}
.eltonDetailImage2 {
    height: 150px;
    width: 71.5%;
}
.tabletAndDesktop {
    display: none;
}
@media(min-width: 700px){
    .mobileOnlyPlaces{
        display: none;
    }
    
    .tabletAndDesktop {
        display: block;
    }
    .xSprayEvent {
        width: 160px;
        top: 90px;
    }
    .xEventDetail {
        font-size: 29px;
        font-weight: 600;
        top: 180px;
        left: 75px;
    }
    .eventsDetailImagesText {
        font-size: 24.7px;
    }
    .spatialDetailImageWarner {
        height: 323px;
    }
    .wweImage1 {
        height: 404px;
    }
    .wweImages{
        height: 390px;
    }
    .circleImg16{
        height: 30px;
    }
    .bigCircleItemEvents .stackCircleImgBig {
        height: 50px;
        margin-top: 0;
    }
    .bigCircleItemEvents .stackText {
        margin-top: -18px;
    }
    .placesImage1 {
        height: 336px;
    }
    .placesImages {
        height: 500px;
    }
    .eltonDetailImage {
        height: 335px;
    }
    .eltonDetailImage2, .eltonDetailImage1 {
        height: 330px;
        object-fit: cover;
    }
    .colorSpaceInformation {
        display: flex;
        padding-bottom: 2.5%;
    }
    .colorSpaceInformation .infoContainerSpatialDetail {
        flex-wrap: nowrap;
    }
    .colorSpaceInformation .infoSpatialDetailTextContainer{
        margin-left: 1%;
    }
    .colorSpaceInformation .infoSpatialDetailTextContainer p{
        margin: 0;
    }
}

@media(min-width: 1200px){
    .xSprayEvent {
        width: 140px;
        top: 90px;
        right: 0px;
        left: unset;
    }
    .xEventDetail {
        left: unset;
        right: 63px;
        top: 175px;
        font-size: 18px;
    }
    .stackContainerEvents {
        width: 60vw;
        bottom: 110px;
    }    
    .stackContainerEventsSmaller{
        width: 45vw;
    }
    .stackContainerEventsSmall {
        width: 50vw;
    }
    .colorSpaceEvents {
        padding: 4% 2vw 0;
    }
    .separatorEvents {
        margin: 2.5% 0;
    }
    .eventsDetailImagesText {
        padding: 0 2vw;
        font-size: 26px;
    }
    .spatialDetailImageWarner {
        height: 450px;
    }
    .sezaneImages{
        height: 700px;
        object-fit: cover;
    }
    .wweImage1 {
        height: 550px;
    }
    .wweImages {
        height: 700px;
    }
    .placesImage1 {
        height: 500px;
    }
    .warner22Images {
        height: 700px;
    }
    .eltonDetailImage2, .eltonDetailImage1 {
        height: 450px;
        object-fit: cover;
    }
    .eltonDetailImagesBox {
        margin-top: 0;
    }
    .stackItemDesktop25 {
        width: 25%;
    }
    .stackItemDesktop40 {
        width: 40%;
    }
    .moleculesDesktopBoxes {
        height: 500px;
        margin-bottom: 0.7%;
    }
    .moleculesDesktopImg1 {
        width: 69%;
    }
    .moleculesDesktopImg2 {
        width: 30.5%;
    }
    .moleculesDesktopImg3 {
        width: 35%;
    }
    
    .dazedImagesDesktop {
        width: 32.8%;
        height: 550px;
        object-fit: cover;
    }
    .colorSpaceInformationElton .infoSpatialDetailTextContainer{
        margin-left: 0%;
    }
    
    .colorSpaceInformationElton {
        display: flex;
        padding-bottom: 2.5%;
    }
    .colorSpaceInformationElton .infoContainerSpatialDetail {
        flex-wrap: nowrap;
    }
}
