.headerProjects {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 40px 0 20px;
}
.linksEvents {
    color: #FFCC00;
    border-bottom: 1px solid #FFCC00;
}
.linksEvents:hover {
    background-color: #FFCC00;
}
.sprayEvents {
    position: absolute;
    width: 250px;
    height: 95px;
    left: 15%;
    top: 15px;
} 