.headerProjects {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 40px 0 20px;
    align-items: flex-end;
}
.linksEvents {
    color: var(--color-orange);
    border-bottom: 1px solid var(--color-orange);
}
.linksEvents:hover {
    background-color: var(--color-orange);
}
.sprayEvents {
    position: absolute;
    width: 250px;
    height: 95px;
    top: 15px;
    left: 46%;
    transform: translateX(-50%);
} 
.eventsImagesContainer {
    padding: 20% 0 0 0;
    justify-content: flex-end;
}
.eventsImagesContainer .eventsLeftAligned {
    margin-right: 2%;
}
@media(min-width:700px){
    .headerProjects{
        padding: 40px 0 40px;
    }
}