.blancHero {
    width: 100%;
    height: 97vh;
    object-fit: cover;
    position: relative;
}
.xSpatialDetail {
    font-family: 'oswald';
    position: absolute;
    top: 165px;
    top: 124px;
    left: 26px;
    z-index: 5;
    margin: 0;
    color: #EEEFF3;
    font-size: 14px;
    font-weight: 600;
}
.xSpraySpatial {
    width: 60px;
    top: 143px;
    top: 100px;
    top: 100px;
    z-index: 5;
    position: absolute;
}

.stackContainer{
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 87vw;
    text-align: center;
    justify-content: space-between;
    justify-content: space-evenly;
    bottom: 65px;
    font-weight: 500;
}
.stackContainerDestree {
    width: 57vw;
}
.stackContainerPink {
    width: 70vw;
}
.stackContainerBenefit {
    color: black;
    width: 80vw;
}
.stackItem1 {
    width: 26%;
    height: 20px;
}
.stackItem2 {
    width: 30%;
    height: 20px;
}
.stackItem3 {
    width: 17%;
    height: 20px;
}
.stackItem4 {
    width: 20%;
    height: 20px;
}
.stackCircleImg{
    width: 100%;
    height: 14px;
}
.stackItemDestree1 {
    width: 44%;
    height: 20px;
}
.stackItemDestree2 {
    width: 52%;
    height: 20px;
}
.stackItemDestree3 {
    width: 31%;
    height: 20px;
}
.stackItemPink4 {
    width: 31%;
    height: 20px;
    margin-top: 5px;
}
.stackItemSpecial {
    margin-top: 5px;

}
.stackCircleImgBig {
    height: 26px;
    width: 70%;
}
/* .stackItemSpecial .stackCircleImgBig{
    margin-top: 5px;
} */
.stackItemPink1 {
    width: 36%;
    height: 20px;
}

.stackItemPink2 {
    width: 39%;
    height: 20px;
}
.stackItemPink2 img {
    height: 16px;
}
.stackItemPink3 {
    width: 23%;
    height: 20px;
}
.stackText {
    font-weight: 600;
    letter-spacing: 0.1em;
    bottom: 15px;
    font-size: 6.5px;
    margin: 0;
    position: relative;
    /* margin: auto;
    width: fit-content; */
}

.stackItemPink4 .stackText, .stackTextBig {
    margin-top: -7.5px;
}
.colorSpace {
    font-size: 10px;
    padding: 8% 5vw 0;
    background-color: var(--color-violet);    
    color: white;
}

.titleSpatialDetail {
    font-family: 'Oswald';
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}
.separatorSpatial{
    border-bottom: #EEEFF3 1px solid;
    margin: 6% 0;
}
.infoContainerSpatialDetail{
    display: flex;
    padding-bottom: 6%;
}
.infoContainerSpatialDetail div{
    width: 23.5vw;
}
 
.infoTitleSpatialDetail {
    font-size: 8px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 0;
}
.infoDataSpatialDetail{
    font-family: 'Oswald';
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0.06em;
    margin: 0;
    text-transform: uppercase;
}
.image1SpatialDetail {
    width: 100%;
}
.image1SpatialDetailDestree{
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: 0 -75px;
}
.spatialDetailImages {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.spatialDetailImages img {
    width: 48.8%;
    height: 200px;
    object-fit: cover;
}
.spatialDetailImagesDestree img {
    height: 140px;
}
.spatialDetailImagesText{
    text-transform: uppercase;
    color: var(--color-violet);
    font-family: 'Oswald';
    font-size: 12px;
    font-weight: 600;
    position: relative;
    padding: 0 5vw;
    margin: 0;
    position: absolute;
    transform: translateY(100%);
}
.infoSpatialDetailTextContainer{
    display: flex;
    justify-content: space-between;
}
.infoSpatialDetailTextContainer p{
    font-size: 7px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-align: justify;
    width: 48%;
}
.spatialDetailImagesBoxPink {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-bottom: 1%;
}

.spatialDetailImage1{
    width: 34.5%;
    object-fit: cover;
}
.spatialDetailImage2{
    object-fit: cover;
    width: 64.5%;
}
.spatialDetailImagesBoxBenefit1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.spatialDetailImagesBoxBenefit1 img {
    width: 32.8%;
    height: 150px;
    object-fit: cover;
}
.spatialDetailImageBenefit{
    width: 100%;
    object-fit: cover;
    margin: 1% 0;
}
.spatialDetailImagesBenefit {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.spatialDetailImagesBenefit img {
    height: 170px;
    object-fit: cover;
    width: 49.5%;
    object-position: top;
}
.spatialDetailImagesGisou img{
    object-position: unset;
}
@media (min-width: 376px) {
    .infoSpatialDetailTextContainer p {
        font-size: 7.8px;
    }
}