.blancHero {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    position: relative;
}
.xSpatialDetail {
    font-family: 'oswald';
    position: absolute;
    top: 165px;
    top: 124px;
    left: 26px;
    z-index: 5;
    margin: 0;
    color: #EEEFF3;
    font-size: 14px;
    font-weight: 600;
}
.xSpraySpatial {
    width: 60px;
    top: 143px;
    top: 100px;
    top: 100px;
    z-index: 5;
    position: absolute;
}

.stackContainer{
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 87vw;
    text-align: center;
    justify-content: space-between;
    justify-content: space-evenly;
    bottom: 100px;
    font-weight: 500;
}
.stackContainerDestree {
    width: 57vw;
}
.stackContainerPink {
    width: 70vw;
}
.stackContainerBenefit {
    color: black;
    width: 80vw;
}
.stackItem1 {
    width: 26%;
    height: 20px;
}
.stackItem2 {
    width: 30%;
    height: 20px;
}
.stackItem3 {
    width: 17%;
    height: 20px;
}
.stackItem4 {
    width: 20%;
    height: 20px;
}
.stackCircleImg{
    width: 100%;
    height: 14px;
}
.stackItemDestree1 {
    width: 44%;
    height: 20px;
}
.stackItemDestree2 {
    width: 52%;
    height: 20px;
}
.stackItemDestree3 {
    width: 31%;
    height: 20px;
}
.stackItemPink4 {
    width: 31%;
    height: 20px;
    margin-top: 5px;
}
.stackItemSpecial {
    margin-top: 5px;

}
.stackCircleImgBig {
    height: 26px;
    width: 70%;
}
.stackItemPink1 {
    width: 36%;
    height: 20px;
}

.stackItemPink2 {
    width: 39%;
    height: 20px;
}
.stackItemPink2 img {
    height: 16px;
}
.stackItemPink3 {
    width: 23%;
    height: 20px;
}
.stackText {
    font-weight: 600;
    letter-spacing: 0.1em;
    bottom: 15px;
    font-size: 6.5px;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    /* margin: auto;
    width: fit-content; */
}

.stackItemPink4 .stackText, .stackTextBig {
    margin-top: -7.5px;
}
.colorSpace {
    font-size: 10px;
    padding: 8% 5vw 0;
    background-color: var(--color-violet);    
    color: white;
}

.titleSpatialDetail {
    font-family: 'Oswald';
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}
.separatorSpatial{
    border-bottom: #EEEFF3 1px solid;
    margin: 6% 0;
}
.infoContainerSpatialDetail{
    display: flex;
    flex-wrap: wrap;
}
.infoContainerSpatialDetail div{
    padding-bottom: 6%;
    width: 22.5vw;
}

.infoTitleSpatialDetail {
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 0;
}
.infoDataSpatialDetail{
    font-family: 'Oswald';
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0.06em;
    margin: 0;
    text-transform: uppercase;
}
.image1SpatialDetail {
    width: 100%;
}
.image1SpatialDetailDestree{
    width: 100%;
    height: 190px;
}
.spatialDetailImages {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.spatialDetailImagesBlanc {
    width: 48.8%;
    /* height: 200px; */
    object-fit: cover;
}
.spatialDetailImgDestree{
    height: 140px;
    width: 49%;
    object-fit: cover;
}
.spatialDetailImagesText{
    text-transform: uppercase;
    color: var(--color-violet);
    font-family: 'Oswald';
    font-size: 12px;
    font-weight: 600;
    position: relative;
    padding: 0 5vw;
    margin: 0;
    position: absolute;
    transform: translateY(100%);
}
.infoSpatialDetailTextContainer{
    display: flex;
    justify-content: space-between;
    margin: auto -5px;
}
.infoSpatialDetailTextContainer p{
    font-size: 7px;
    font-weight: 600;
    letter-spacing: 0.06em;
    text-align: justify;
    flex: 1;
    padding: 0 5px 0 5px;
}
.spatialDetailImagesBoxPink {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-bottom: 1%;
}

.spatialDetailImagesBoxHuda {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 1% 0 2% 0;
}

.spatialDetailImage1{
    width: 34.5%;
    object-fit: cover;
}
.spatialDetailImage2{
    object-fit: cover;
    width: 64.5%;
}
.spatialDetailImage3{
    width: 61.5%;
    object-fit: cover;
    height: 170px;
}
.spatialDetailImage4{
    object-fit: cover;
    width: 37.5%;
    height: 170px;
}
.spatialDetailImagesBoxBenefit1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.spatialDetailImagesBoxBenefit1 img {
    width: 32.8%;
    height: 150px;
    object-fit: cover;
}

.spatialDetailImageBenefit{
    width: 100%;
    object-fit: cover;
    margin: 1% 0;
}
.spatialDetailImagesBenefit {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.spatialDetailImagesBenefit img {
    object-fit: cover;
    width: 49.5%;
    object-position: top;
}
.spatialDetailBenefitImg {
    height: 180px;
}
.spatialDetailGisouImg{
    object-position: unset !important;
    height: 180px;
}

.blancHeroDesktop{
    display: none;
}
.blanc1, 
.blanc2{
    width: 48.9%;
    object-fit: cover;
}

.desktopOnly{
    display: none;
}
@media (min-width: 376px) {
    .infoSpatialDetailTextContainer p {
        font-size: 7.8px;
    }
}
@media (min-width: 700px) {
    
    .stackContainer{
        bottom: 150px;
    }
    .xSpraySpatial {
        width: 145px;
        height: 173.15px;
        top: 156px;
        left: 5px;
    }
    .xSpatialDetail{
        font-size: 30.19px;
        font-weight: 700;
        top: 209px;
        left: 69px;
    }
    .stackText {
        font-size: 13.5px;
        font-weight: 700;
        line-height: 18.44px;
        bottom: 23px;
    }
    .stackCircleImg{
        height: 32px;
    }    
    .stackContainer div, .stackContainerEvents div {
        height: 55px;
    }
    .titleSpatialDetail{
        font-size: 24.98px;
        font-weight: 600;
    }
    .colorSpace {        
        padding: 6.5% 5vw 0;
    }
    .infoTitleSpatialDetail{
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
    }
    .infoDataSpatialDetail{
        font-size: 17px;
        font-weight: 700;
    }
    .infoSpatialDetailTextContainer p{
        font-size: 15px;
        font-size: 14.9px;
        font-weight: 600;
        line-height: normal;
        padding: 0 10px 0 10px;
        margin: 0 0 4% 0;
    }
    .infoSpatialDetailTextContainer{
        margin: auto -10px;
    }
    .separatorSpatial{
        margin: 5% 0;
    }
    .image1SpatialDetailDestree {
        height: 400px;
    }
    .spatialDetailImages {
        margin-top: 2%;
    }
    .spatialDetailImgDestree {
        height: 300px;
    }
    .infoContainerSpatialDetail div {
        padding-bottom: 4%;
    }
    .image1SpatialDetail{
        height: 460px;
        object-fit: cover;
    }
    .spatialDetailImgBlanc {
        height: 500px;
    }
    .stackItemPink2 img { 
        height: 35px;
    }
    .stackCircleImgBig {
        height: 47px;
    }
    .stackItemPink4 .stackText, .stackTextBig {
        margin-top: -17.5px;
    }
    .spatialDetailImagesBoxPink{
        height: 337px;
    }
    .spatialDetailImagesBoxBenefit1 img {
        height: 334px;
    }
    .spatialDetailBenefitImg {
        height: 367px;
    }
    .spatialDetailImagesText{
        font-size: 24.62px;
        font-weight: 700;
    }
    .objPositionUnset {
        object-position: unset !important;
    }
    .spatialDetailGisouImg {
        height: 370px;
    }
    .spatialDetailImagesBoxHuda {
        height: 334px;
    }
    .spatialDetailImage4, .spatialDetailImage3{
        height: 367px;
    }
    .blancHero {
        height: 91vh;
    }
}

@media(min-width:1200px){
    .blancHero {
        height: 93vh;
    }
    .mobileOnly {
        display: none;
    }
    .desktopOnly{
        display: flex;
    }
    .xSpraySpatial {
        width: 100px;
        height: 137px;
        top: 126px;
        right: 5px;
        left: unset;
    }
    
    .gisouFixedImg{
        object-position: 0 -405px !important;
    }
    .xSpatialDetail {
        left: unset;
        right: 50px;
        top: 175px;
        font-size: 18px;
    }
    .stackContainer {
        width: 98vw;
        bottom: 100px;
    }
    .stackContainerDestree {
        width: 65vw;
        bottom: 110px;
    }
    .stackContainerPink {
        width: 78vw;
    }
    .stackItem1 {
        width: 13%;
    }
    .stackItem2 {
        width: 16%;
    }
    .stackItem3 {
        width: 10%;
    }
    .stackItem4 {
        width: 10%;
    }
    .stackItemDesktop10 {
        width: 10%;
    }
    .stackItemDesktop9 {
        width: 9%;
    }
    .stackItemDesktop15 {
        width: 15%;
    }
    .stackItemDestree1 {
        width: 21%;
    }
    .stackItemDestree2 {
        width: 25%;
    }
    .stackItemDestree3 {
        width: 14%;
    }
    .stackItemPink2 {
        width: 18%;
    }
    .stackItemPink4 {
        width: 12%;
        margin-top: unset;
    }
    .stackItemPink1 {
        width: 18%;
    }
    .stackCircleImgBig{
        width: 100%;
    }
    .stackText {
        font-size: 13px;
    }
    .titleSpatialDetail{
        font-size: 40px;
        font-size: clamp(30px, 2.1vw, 40px);
    }
    .colorSpace {
        padding: 4% 2vw 0;
    }    
    .separatorSpatial {
        margin: 2.5% 0;
    }
    .breakMobileAndTablet {
        display: none;
    }
    .infoTitleSpatialDetail {
        line-height: 22px;
    }
    .infoContainerSpatialDetail div {
        padding-bottom: 3.5%;
    }
    .spatialDetailImagesText {
        padding: 0 2vw;
        z-index: 2;
        font-size: 26px;
    }
    .spatialDetailImgBlanc {
        height: 370px;
        object-fit: cover;
    }

    .blanc1{
        width: 33% !important;
    }
    .blanc2{
        width: 66% !important;
    }
    .objPositionUnset {
        object-position: 0 -290px !important;
    }
    .infoSpatialDetailTextContainer p {
        padding: 0 30px 0 25px;
        margin: 0 0 2% 0;
    }
    .infoSpatialDetailTextContainer {
        margin: auto -25px;
    }
    .image1SpatialDetailDestree {
        height: 500px;
        object-fit: cover;
    }
    .spatialDetailImages {
        margin-top: 1%;
    }
    .spatialDetailImgDestree2 {
        width: 64.5%;
        height: 350px;
        object-fit: cover;
        object-position: 0 -50px;
    }
    .spatialDetailImgDestree {
        height: 350px;
        width: 34.5%;
        object-fit: cover;
    }
    .transformHero {
        transform: scaleX(-1);
    }
    .spatialDetailImagesBoxBenefit1 img {
        height: 450px;
        width: 33%;
    }
    .spatialDetailImageBenefit {
        height: 450px;
        margin: 2% 0;    
    }
    .spatialDetailBenefitImg {
        height: 450px;
    }
    .spatialDetailGisouImg{
        height: 450px;
    }
    
    .spatialDetailImage3{
        width: 64.5%;
        height: 450px;
    }
    .spatialDetailImage4{
        width: 34.5%;
        height: 450px;
    }
    .image1SpatialDetail {
        height: 600px;
    }
    .spatialDetailImagesBoxHuda {
        height: 450px;
        margin: 2% 0 2% 0;
    }
}
@media(min-width:1400px){
    
    .spatialDetailImagesBoxBenefit1 img {
        height: 530px;
        width: 33%;
    }
    .spatialDetailImgDestree2, .spatialDetailImgDestree {
        height: 450px;
    }
    .image1SpatialDetailDestree {
        height: 750px;
    }
    .spatialDetailImageBenefit {
        height: 540px;
        margin: 1.5% 0;
    }
    .spatialDetailBenefitImg {
        height: 540px;
    }    
    .gisouFixedImg {
        object-position: 0 -485px !important;
    }
    .spatialDetailGisouImg {
        height: 550px;
    }
    .spatialDetailImagesBoxHuda, .spatialDetailImage3, .spatialDetailImage4 {
        height: 550px;
    }
}
@media(min-width:1700px){
    .blancHero {
        height: 93vh;
    }
    .xSpraySpatial {
        width: 113px;
        height: 147px;
        top: 172px;
        right: 5px;
        left: unset;
    }
    .xSpatialDetail {
        right: 56px;
        top: 224px;
    }
    .stackText {
        font-size: 18px;
    }
    .spatialDetailImagesBoxBenefit1 img {
        height: 704px;
    }
    .spatialDetailImagesBenefit img {
        height: 704px;
        object-position: unset;
    }
    .stackContainer{
        bottom: 135px;
    }
    .spatialDetailImagesText {
        font-size: 32px;
    }
    
    .infoTitleSpatialDetail{
        font-size: 22px;
        font-weight: 400;
        line-height: 20px;
    }
    .infoDataSpatialDetail{
        font-size: 22px;
        font-weight: 700;
    }
    .infoSpatialDetailTextContainer p {
        font-size: 20px;
    }
    
    .image1SpatialDetail {
        height: 750px;
    }
    .spatialDetailImgBlanc {
        height: 450px;
    }
    
    .spatialDetailImgDestree2, .spatialDetailImgDestree {
        height: 550px;
    }
    .spatialDetailImagesBoxPink {
        height: 435px;
    }
    .gisouFixedImg {
        object-position: 0 -631px !important;
    }
    
    .spatialDetailImagesBoxHuda, .spatialDetailImage3, .spatialDetailImage4 {
        height: 700px;
    }
}