.aboutContainer {
    min-height: 90vh;
    margin-top: 120px;
}
.aboutText {
    text-transform: uppercase;
    font-size: 18.2px;
    padding: 0% 4% 0;
    letter-spacing: -0.525px;
    font-weight: 300;
}
.aboutText strong {
    font-size: 38px;
    font-weight: 500;
    font-family: "Oswald";
    line-height: 28px;
    letter-spacing: -2.029px;
}
.designAbout {
    position: relative;
    left: 43%;
}
.aboutText .and {
    position: relative;
    left: 44%;
    font-size: 20px;
    font-weight: 200;
}

.sprayAbout {
    width: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 290px;
} 
.subtitleAbout {
    font-family: "Oswald";
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-transform: uppercase;
    padding: 0 3%;
}
.brandIconAbout {
    width: 18%;
    padding: 1.5%;
    margin-bottom: 4%;
    opacity: 0.7;
}
.brandToBig {
    width: 12%;
    margin: 0 3%;
}
.brandsAboutContainer{
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: auto; 
    justify-content: space-between;
}
.brandsSection {
    margin-top: 125px;
}
@media (min-width: 376px) {
    .aboutText {
        font-size: 20px;
        padding: 0% 5% 0;
        letter-spacing: -0.47px;
        line-height: normal;
    }
}