.heroVideo {
    object-fit: cover;
    width: 100%;
    height: 99vh;
}
.heroText {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-weight: 100;
    margin: 0;
}

@media(min-width:700px){
    .heroText{
        font-size: 26px;
    }
}