.contactContainer {
    margin: 10vh 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px white solid;
}
.contactUsContainer {
    width: 100%;
    border-bottom: none;
    height: 170px;
    margin: 5% 0;
}
.contactUs {
    color: white;
    font-family: "Oswald";
    margin: 0;
    position: absolute;
    font-size: 90px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    line-height: 85px;
    
    width: 94%;
    display: flex;
    justify-content: center;
}
.sprayContact {
    width: 110px;
    position: relative;
    left: 45%;
    top: 42%;
}
.containerBox {
    width: 50%;
    border: 1px white solid;
    border-left: none;
    border-bottom: none;
    padding: 5% 2.5%;
}
.biggerBoxAbout{
    padding: 0;
}
.instagramBox {
    border-left: none;
    border-bottom: none;
    padding: 9% 6%;
}
.contactContainer h3 {
    font-family: "Oswald";
    font-size: 19px;
}
.locationText {
    margin: 0;
    font-weight: 100;
    font-size: 10px;
    letter-spacing: 0.06em;
}
input {
    color: white;
    background: black;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding-top: 8%;
    padding-left: 4%;
}
.formButton {
    color: white;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.06em;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: right;
    padding-top: 25%;
}

.mapBoxContainer {
    border: 1px solid white;
}

.mapContainer {
    width: 200px;
    height: 200px;
    
    width: 100%;
    height: 180px;
}
.inputContact:hover {
    background-color: rgba(237, 7, 7, 0.7);
}
.inputContact.color-activo {
    background-color: rgba(237, 7, 7, 0.7); /* Color rojo con 70% de opacidad */
}
.formButton:hover {
    color: rgba(237, 7, 7, 0.7);
}
#spraySend{
    display: none;
}
@media(min-width:700px){
    .contactContainer {
        margin: 156px 5%;
    }
    .contactUs{
        font-size: clamp(170px, 3vw, 182.447px);
        width: 90%;
        font-style: normal;
        font-weight: 700;
        line-height: 93%; /* 169.676px */
        text-transform: uppercase;
    }
    .contactUsContainer {
        height: 340px;
    }
    .contactContainer h3 {
        font-size: 34.791px;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    .locationText {
        font-size: 17.395px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.044px;
    }
    .formButton {
        font-size: 17.395px;
        font-weight: 700;
        z-index: 2;
        position: relative;
    }
    
    .formButton:hover {
        color:white;
    }
    .formButton:hover ~#spraySend {
        display: block;
    }
    #spraySend {
        width: 110px;
        height: 92px;
        position: absolute;
        transform: translateY(-50%);
        left: 82vw;
        /* bottom: -162px; */
    }
    .mapContainer {
        height: 300.795px;
    }
}
@media (min-width: 1000px) {
    #spraySend {
        left: 83.5vw;
    }
}
@media (min-width: 1200px) {
    .contactUsContainer {
        width: 50vw;
    }
}