.navbarLooney{
    font-family: "Oswald";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 87px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #EEEFF3;
}
.headerContainer{
    background: linear-gradient(to bottom, black, transparent);
    width: 100%;
    top: 0;
    z-index: 100;
    position: fixed;
}
.initialHeader {
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 0 5vw;
    justify-content: space-between;
    z-index: 100;
    position: relative;
    
}
.projects {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: space-between;
    width: 112%;
}
.projects img {
    width: 13px;
    height: 24px;
    margin-top: 5px;
}

.burgerMenuIcon { 
    width: 25px;
}
.closeMenuIcon{
    width: 17px;
    height: 17px;
}
.dropdownHeader {
    position: absolute;
    background-color: #E33600;
    width: 100%;
    height: 100vh;
    top: 0;
    padding-left: 0;
}
.nextDropdown {
    background-color: #131313;
}
.dropdownItemsContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 10%;
    font-family: 'Oswald';

    /* top: 854px;
    left: 95px; */
    
}
.dropdownItemsContainer a, .projects {
    font-size: 36px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 400;
    line-height: 35px;
}
.sprayDropdown1 {
    position: absolute;
    top: 60%;
    left: 92vw;
    transform: translateX(-50%);
    width: 200px;
}
.sprayDropdown2 {
    position: absolute;
    bottom: 80%;
    left: 87vw;
    transform: translateX(-50%);
    width: 250px;
}
.nextSections{
    font-size: 22px !important;
}
.nextSections:hover {
    color: var(--color-lila);
}
a:focus {
    font-weight: 500;
} 
a:hover {
    font-weight: 500;
}
.activeNavbar {
    font-weight: 600;
}
.igIconNavbar {
    bottom: 5%;
    left: 5vw;
    position: fixed;
    width: 20px;
}

@media(min-width:700px){

    .navbarLooney{
        font-size: 45.76px;
        font-weight: 600;
        line-height: 67.82px;
    }
    
    .burgerMenuIcon { 
        width: 36px;
        height: 15.75px;        
    }
    .initialHeader{
        height: 156px;
    }
    .dropdownItemsContainer a, .projects{
        font-size: 82.71px;
        font-weight: 400;
        line-height: 80px;
    }
    .projects img {
        width: 26px;
        height: 53px;
    }
    .sprayDropdown1 {
        left: 89vw;
        width: 380px;
        height: 400px;
    }
    .igIconNavbar{
        width: 40px;
        height: 38px;
    }
    .closeMenuIcon {
        width: 32px;
        height: 32px;
    }
}
