.navbarLooney{
    font-family: "Oswald";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 87px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #EEEFF3;
}

.hideLogo {
    display: none;
}
.headerContainer{
    background: linear-gradient(to bottom, black, transparent);
    width: 100%;
    top: 0;
    z-index: 100;
    position: fixed;
}
.initialHeader {
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 0 5vw;
    justify-content: space-between;
    z-index: 100;
    position: relative;
}
.projects {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: space-between;
    width: 112%;
}
.projects:hover, .dropdownItems:hover {
    cursor:pointer;
    font-weight: 800;
}
.projects img {
    width: 13px;
    height: 24px;
    margin-top: 5px;
    cursor: pointer;
}

.burgerMenuIcon { 
    width: 25px;
}
.closeMenuIcon{
    width: 17px;
    height: 17px;
}
.burgerMenuIcon:hover, .closeMenuIcon:hover {
    cursor: pointer;
}
.dropdownHeader {
    position: absolute;
    background-color: #E33600;
    width: 100%;
    height: 100vh;
    top: 0;
    padding-left: 0;
}
.nextDropdown {
    background-color: #131313;
}
.dropdownItemsContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 10%;
    font-family: 'Oswald';
}
.dropdownItems, .nextSections, .projects {
    font-size: 36px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: 400;
    line-height: 35px;
}
.sprayDropdown1 {
    position: absolute;
    top: 60%;
    left: 92vw;
    transform: translateX(-50%);
    width: 200px;
}
.sprayDropdown2 {
    position: absolute;
    bottom: 80%;
    left: 87vw;
    transform: translateX(-50%);
    width: 250px;
}
.nextSections{
    font-size: 22px;
}
.nextSections:hover {
    color: var(--color-lila);
    cursor:pointer;
}
a:focus {
    font-weight: 500;
} 
a:hover {
    font-weight: 500;
}
.activeNavbar {
    font-weight: 600;
}
.igIconNavbar {
    bottom: 5%;
    left: 5vw;
    position: fixed;
    width: 20px;
}

@media(min-width:700px){

    .navbarLooney{
        font-size: 45.76px;
        font-weight: 600;
        line-height: 67.82px;
    }
    
    .burgerMenuIcon { 
        width: 36px;
        height: 15.75px;        
    }
    .initialHeader{
        height: 156px;
    }
    .dropdownItems, .nextSections, .projects{
        font-size: 82.71px;
        font-weight: 400;
        line-height: 80px;
    }
    .projects img {
        width: 26px;
        height: 53px;
    }
    .sprayDropdown1 {
        left: 89vw;
        width: 380px;
        height: 400px;
    }
    .igIconNavbar{
        width: 40px;
        height: 38px;
    }
    .closeMenuIcon {
        width: 32px;
        height: 32px;
    }
    .nextSections{
        font-size: 55.14px;
    }
}

@media(min-width:1200px){

    .navbarLooney{
        font-size: 54px;
        font-size: calc(1.2em + 2vw);
        font-size: clamp(55px, 4vw, 70px);
    }
    
    .burgerMenuIcon { 
        width: 36px;
        height: 15.75px;        
    }
    .headerContainer{
        height: 160px;
    }
    .initialHeader{
        padding: 2vw;
        height: 120px;
        width: fit-content;
    }
    .igIconNavbar, .sprayDropdown1, .sprayDropdown2 {
        display: none;
    }
    .dropdownItemsContainer {
        flex-direction: row;
        position: absolute;
        margin: 0;
        top: 0%;
        right: 0%;
        justify-content: flex-end;
    }
    .dropdownHeader {
        background-color: unset;
        width: 100%;
        height: 160px;
    }
    
    .projects img {
        display: none;
    }
    .dropdownItems, .nextSections,
    .projects {
        color: var(--V, #FFF);
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        width: fit-content;
        padding: 0 25px;
        height: 133px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        justify-content: space-between;
    }
    .nextSections{
        color: var(--color-lila);
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        height: 50px;
    }
    .nextSections:hover {
        color: var(--color-violet);
    }
    .nextDropdown div {
        display: flex;
        flex-direction: column;
    }
    .nextDropdown {
        width: 50vw;
    }
    .nextDropdownItemsContainer {
        width: 40vw;
        left: 63vw;
        top: 90px;
    }
    .navbarLogoHome{
        font-size: 100px;
        position: absolute;
        /* top: 45vw; */
        margin: 0;
        bottom: 100px;
        height: fit-content;
        left: 50vw;
        width: 70vw;
        transform: translateX(-50%);
        color: #FFF;
        font-family: Oswald;
        font-weight: 666;
        letter-spacing: -1.12px;
    }
}
@media(min-width:1400px){

    .headerContainer{
        height: 202px;
    }
    .navbarLogoHome {
        font-size: 111.953px;
        
        top: 30vw;
    }
}