body {
  font-family: "Manrope";
  margin: 0;
  margin-top: 10vh;
  min-width: 320px;
  min-height: 90vh;
  background-color: black;
  color: white;
}

h2 {
  color: white;
  font-family: "Oswald";
  position: relative;
  font-size: 82px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 76px;
  
  margin: auto;
  margin-top: 2vh;
  width: 85%;
  display: flex;
  justify-content: center;
}
a, a:hover {
  color: white;
  text-decoration: none;
}