body {
  font-family: 'Manrope Variable', sans-serif;
  margin: 0;
  min-width: 320px;
  background-color: black;
  color: white;
}
:root {
  --color-lila: #DAA6DA;
  --color-violet: #BE27C3;
  --color-orange: #FFCC00;
}

h2 {
  color: white;
   font-family: 'Oswald Variable', sans-serif;
  position: relative;
  font-size: 82px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 76px;
  
  margin: auto;
  margin-top: 2vh;
  width: 85%;
  display: flex;
  justify-content: center;
}

a, a:hover {
  color: white;
  text-decoration: none;
}
.xOnlyForDesktop {
  display: none;
}
@media(min-width:700px){
  h2 {
    font-size: 174.889px;
    font-style: normal;
    font-weight: 700;
    line-height: 93%; 
    text-transform: uppercase;
    width: 89%;
  }
}

@media(min-width:1200px){
  h2 {
    font-size: 160px;
    width: 50vw;
    margin-top: 3vh;
    margin-top: 6vh;
  }
  
  .xOnlyForDesktop {
    display: block;
    position: absolute;
    top: 22vh;
    right: 80px;
  }
  .xOnlyForDesktop .xTvDetail{
    margin-top: -20px;
  }
  .xNotForDesktop {
    display: none;
  }
}
@media(min-width:1400px){
  h2 {
    font-size: 190px;
  }
}
@media(min-width:1700px){
  h2 {
    font-size: 241px;
  }
}