body {
  font-family: "Manrope";
  margin: 0;
  min-width: 320px;
  min-height: 90vh;
  background-color: black;
  color: white;
}
:root {
  --color-lila: #DAA6DA;
  --color-violet: #BE27C3;
  --color-orange: #FFCC00;
  /* --color-orange: #E5B233;
  --dark-grey: #7E7E80;
  --color-grey: #B9B9BA; */
/* 
  --font-size-titles: 26px;
  --font-size-titles-mobile: 20px;
  --font-size-subtitles: 23px;
  --font-size-subtitles-mobile: 18px; */
}

h2 {
  color: white;
  font-family: "Oswald";
  position: relative;
  font-size: 82px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 76px;
  
  margin: auto;
  margin-top: 2vh;
  width: 85%;
  display: flex;
  justify-content: center;
}

a, a:hover {
  color: white;
  text-decoration: none;
}

@media(min-width:700px){
  h2 {
    font-size: 174.889px;
    font-style: normal;
    font-weight: 700;
    line-height: 93%; /* 162.647px */
    text-transform: uppercase;
  }
}

@media(min-width:1200px){
  h2 {
    font-size: 160px;
    width: 50vw;
    margin-top: 5vh;
  }
}